body {
    background-color: #000;
    font-family: 'Inter', serif;
    overflow: hidden;
    /* position: relative; */
    height: screen;
    width: screen;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: screen;
    padding-bottom: 10px;
    padding-right: 6px;
    position: sticky;
}

header div {
    display: flex;
    gap: 10px;
}

header div i {
    color: #a3a3a3;
    font-size: 1.5em;
}

#spotifyIcon {
    padding-left: 20px;
    color: white;
    font-size: 2.5em;
}

#musicSearch {
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 12px;
    background-color: #2e2d2d;
}

#musicSearch input {
    background-color: #2e2d2d;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-right: 1px solid #a3a3a3;
}

#homeButton {
    padding: 10px;
    border-radius: 50%;
    background-color: #2e2d2d;
}

/* MAIN */

main {
    display: flex;
    height: 500px;
    justify-content: space-between;
}

/* NAV SIDEBAR */

nav {
    height: inherit;
    /* width: fit-content; */
    background-color: #131212;
    border-radius: 10px;
    display: block;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav i {
    color: #a3a3a3;
    font-size: 30px;
    width: fit-content;
    margin: 10px auto 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    height: calc(500px - 38px);
    /* barra de rolagem invisivel */
    scrollbar-width: none;
}

/* nav ul:hover {
    scrollbar-width: auto;
    scrollbar-color: #2e2d2d transparent;
} */

nav ul li {
    padding: 8px;
}

nav ul li img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

/* MAIN SECTION */

section {
    height: 450px;
    width: 90%;
    margin-left: 8px;
    border-radius: 10px;
    scrollbar-width: none;
    overflow: auto;
    /* background-color: #131212; */
    background: linear-gradient(to bottom, #2e2d2d,#080808);
    padding: 30px;
}

/* PLAYLIST HEADER */

.playlistHeader {
    display: flex;
    /* padding: 30px 0 0 30px; */
    justify-content: start;
    max-width: 100%;
    overflow: hidden;
}

.playlistHeader img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.innerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    max-width: 500px;
    overflow: hidden;
}

.innerDetails h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.innerDetails img {
    width: 30px;
    height: 30px;
}

.innerDetails div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.innerDetails h2,
.innerDetails p {
    color: #a3a3a3;
}

.playlistControl {
    margin-top: 20px;
}

.playlistControl button i {
    font-size: 30px;
    color: #2e2d2d;
}

.playlistControl button {
    border-radius: 50px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.playlistControl button:first-child {
    background-color: #1ED760;
    padding: 20px 23px;
    margin: auto;
}

.playlistControl button:first-child i {
    color: black;
}

.playlistControl button i {
    color: #a3a3a3;
}

/* PLAYLIST */

table {
    margin-top: 40px;
    color: #a3a3a3;
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: start;
}

table thead th {
    border-bottom: 2px solid #a3a3a3;
}

table tbody tr {
    width: fit-content;
    height: 40px;
}

table tbody tr:hover {
    background-color: #2e2d2d;
}

/* FOOTER */
footer {
    width: 100%;
    height: 3.5em;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

#footerInfo {
    display: flex;
    justify-content: start;
    padding-left: 24px;
}

#footerInfo img {
    border-radius: 10px;
    width: 55px;
    height: 55px;
}

#footerInfo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

#footerInfo div h3 {
    margin: 0;
    color: white;
    font-size: medium;
}

#footerInfo div h4 {
    margin: 0;
    color: #a3a3a3;
    font-size: small;
}

#footerController {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#footerController span {
    display: block;
    height: 4px;
    width: 250px;
    background-color: #1ED760;
    animation: progressBar 15s linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

#footerController div {
    color: #a3a3a3;
    font-size: 1.5em;
    align-content: center;
}

#footerButtons {
    align-content: center;
    font-size: 1.5em;
    color: #a3a3a3;
    padding-right: 25px;
}

#inputSound {
    accent-color: #a3a3a3;
    outline: none;
}